.slashMenu {
  --autocomplete-menu-max-width: 250px;
  --autocomplete-menu-max-height: 300px;
  --autocomplete-menuitem-gap: 12px;
}

.slashMenuSection {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--borderColor-default);
  padding-bottom: var(--base-size-4);

  &:not(:has(.slashMenuItem:not([aria-hidden='true']))) {
    display: none;
  }
}

.slashMenuSectionGroup {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-4);

  &:last-of-type {
    .slashMenuSection {
      border-bottom: unset;
      padding-bottom: 0;
    }
  }
}

.slashMenuSectionTitle {
  font-size: 12px;
  color: var(--fgColor-muted);
  font-weight: 600;
  padding-block: var(--base-size-6);
  padding-inline: var(--base-size-12);
}

.slashMenuItemShortcut {
  font-size: 12px;
  color: var(--fgColor-muted);
  margin-left: auto;
  background: var(--bgColor-neutral-muted);
  padding-inline: var(--base-size-4);
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  min-width: 26px;

  &:has(span:empty) {
    display: none;
  }
}
